*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    min-height: 7rem;
    background: #192a56;
    color: #f5f5f5;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    /* border-bottom: 0.2rem solid #fff; */
}
.site{
    color: #e84118;
}
header .logo{
    margin-left: 5rem;
    text-transform: capitalize;
}

header ul{
    list-style: none;
    margin-right: 5rem;
    display: flex;
    flex-flow: row nowrap;
    
    
}

header ul li{
       padding: 1.8rem 1rem;     
}

header ul li a{
    text-decoration: none;
    color: #f5f5f5;
    text-transform: capitalize;
    opacity: 0.6;
}
header ul li a:hover{
    opacity: 1;
    color: #12CBC4;
}
header .menu,
header .close{
    cursor: pointer;
    text-transform: uppercase;
    border: 0.1rem solid #f5f5f5;
    padding: 1rem 2rem;
    margin-right: 2rem;
    display: none;
}

header .close{
    position: absolute;
    top: 1rem;
    right: 0;
    border-radius: 0.5rem;
}
@media (max-width:750px){
    header .logo,
    header ul{
        width: 100%;
        margin: 0;
        text-align: center;
    }
}
@media (max-width:500px){
    header ul{
        position: fixed;
        top: 0;
        left: -100%;
        background: #192a56 ;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        z-index: 99;
        transition: 0.5s  linear;
    }

    header ul.toggle{
        left: 0;
    }
    header ul li{
        line-height: normal;
    }
    header .menu,
    header .close{
        display: flex;
    }
    header .logo{
        width: initial;
        margin-left: 2rem;
    }
}
 