.flex_first_section{
        padding-top: 8rem; 
        background-image: url(../../images/library3.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        height: 50vh;
       
       
}

.course h2{
        color: #fff;
        text-align: center;
        padding-top: 5rem;
        font-size: 1.5rem;
    
}
.course span{
        text-transform: uppercase;
}

.homepage{
        color: #00cec9;
        cursor: pointer;
}
.homepage:hover{
        color: #fff;
}
/*end of the first section css code*/

.main_section{
    display: flex;
    justify-content: space-between;
    margin: 0rem 4rem;
}

.main_section{
    margin: 0rem 4%;
    flex-wrap: wrap;
}

.flex_right{
    background: #00cec9;
   
}


.showing{
    padding: 0.5rem;
    flex-wrap: nowrap;
}

.courses_price{
    display: flex;
    margin-top: 2rem;
    background: #fff;
    justify-content: space-between; 
    padding-bottom: 1rem;
    
}
.course_image{
    width: 15rem;
    height: 12rem;
    border-radius: 0.2rem;
    transition: transform .4s;


}
.card_body_course{
    background: #fff;
    box-shadow: .1rem .13rem 0.3rem;
    margin-bottom: 1rem;
    margin: 0rem 0.8rem;
    
}
.course_image:hover{
 
  transform: scale(1.01);
}
.php_master{
    text-align: center;
     padding-bottom: 1rem;

}
.php_master:hover{
    color: #16a085;
    cursor: pointer;
}
._border{
    border-top: 0.15rem solid #95a5a6;
    text-align: center;
    margin: 0rem 30%;
    color: #1abc9c;
    margin-bottom: 3rem;
}
/* media query section */
@media only screen and (max-width:500px){
    .courses_price{
        flex-wrap: wrap;
       
    }
}
@media screen and (max-width:768px){
    .courses_price{
       flex-wrap: wrap;
    }
}

/* left side bar css */
._search_left{
    padding-top: 2rem;
    /* border-left: #00aaad solid 3px; */
 
}
   
.side_image{
    width: 8rem;
    height: 8rem;
    padding-top: 2rem;
}
.right{
    display: flex;
}
.php{
    padding-top: 3rem;
    margin: 0rem 0.5rem;
}
@media screen and (max-width:500px){
.main_section{
    flex-direction: column;
}
}

@media screen and (max-width:768px){
.main_section{
    flex-direction: column;
}
}