
.container{
    height: 100vh;
    width: 100%;
    background-image: url(../../images/header_img1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: 5s;

   animation-name: animate;
   animation-direction: alternate-reverse;
   animation-duration: 30s;
   animation-fill-mode: forwards;
   animation-iteration-count: infinite;
   animation-play-state: running;
   animation-timing-function: ease-in-out;

}

@keyframes animate{
        0%{
            background-image: url(../../images/header_img2.jpg);
        }
        20%{
            background-image: url(../../images/header_img3.jpg);
        }
        40%{
            background-image: url(../../images/header_img4.jpg);
        }

}

.achieve{
    font-size: 3rem;
    color: #fff;
   
}
.accredited{
    font-size: 2rem;
    color: #fff;
}
.achieve{
    text-align: center;
    padding-top: 3rem;
}
.accredited{
    text-align: center;
    padding-top: 1rem;
}
.header_form{
    border: 1px solid #ccc;
    width: 34rem;
    padding: 0.5rem 2rem;
    background: #fff;
    margin-left: 30%;
    margin-top: 4rem;
    text-align: center;
    display: flex;
}
select{
    padding: 0.9rem 3rem;
    appearance: none;
}
input{
     padding: 0.9rem;
     margin-left: 1rem;
}
.btn{
    padding: 1rem 1.6rem;
    margin-left: 1rem;

}
.btn{
    background: #00cec9;
    text-decoration: none;
    padding-top: 0.8rem;
    color: #fff;
    border-radius: 0.2rem;
}
*:focus{outline: none;}

@media only screen and (max-width:480px){
    .achieve{
        font-size: 2rem;
    }
    .accredited{
        font-size: 1.5rem;
    }
}

@media only screen and (max-width:320px){
    .achieve{
        font-size: 1.4rem;
    }
    .accredited{
        font-size: 1rem;
    }
}

@media only screen and (max-width:375px){
    .achieve{
        font-size: 1.5rem;
    }
    .accredited{
        font-size: 1.3rem;
    }
}

.form_flex{
    display: flex;
    margin-top: 3rem;
    justify-content: space-around;
    flex-wrap: wrap nowrap; 
}

@media only screen and (max-width:500px){
    .form_flex{
        display: none;
    }
}


.secction2_img{
    height: 5rem;
    width: 5rem;
    margin-top: 2rem;  
}
.program{
    margin-bottom: 2rem;
}

.flex_section{
    display: flex;
    justify-content: space-evenly;
    background: #ecf0f1;
    flex-wrap: wrap;
}
.image_bg:hover{
    background: #dcdde1;
}
.image_bg{
    padding: 2rem;

}

/* #############this is a third section############### */
.flex_third_section{
    padding-top: 5rem;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.para1,.para3{
    font-size: 2rem;
}
.para3{
    padding-bottom: 2rem;
}
.para2{
    font-size: 2rem;
    color: #38ada9;
}
.sub_para2{
    color: #000;
}
.para4{
    font-size: 1.3rem;
    line-height: 1.8rem;
}
.para5{
    padding-top: 1rem;
    font-size: 1.3rem;
}

/*################### this is a fourth section##################*/
.flex_fourth_section{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.forth_section_banner2{
    margin-left: 0rem;
}
.learn{
    text-decoration: none;
    background: #00cec9;
    padding: 1.3rem;
    color: #fff;
    border: 0.18rem solid #00cec9;

}
.history{
    text-decoration: none;
    background: #fff;
    padding: 1.3rem;
    color:  #00cec9;
    border: 0.18rem solid #00cec9;

}
.btn_fourth_section{
    padding-top: 5rem;
    flex-wrap: wrap;
}
.learn:hover{
    background: #fff;
    color: #00cec9;
    border: 0.18rem solid #00cec9;
    border-radius: 0.1rem;
}
.history:hover{
    background: #00cec9;
    color: #fff;
    border: 0.18rem solid #00cec9;
    border-radius: 0.1rem;
}

.or{
    padding: 0rem 1rem;
}
.forth_section_banner2{
    margin-left: 17rem;
}
@media (max-width:768px){
    .forth_section_banner2{
    margin-left: 0rem;
    padding-top: 5rem;
    }
}
@media (max-width:425px){
    .para1,.para2,.para3,.para4,.para5,.sub_para2{
        margin-left: 2rem;
    }
}
@media only screen and (max-width:500px){
    .forth_section_banner2{
        margin-left: 0rem;
    }
      .para1,.para2,.para3,.para4,.para5,.sub_para2{
        margin-left: 2rem;
    }
    .para5{
        padding-bottom: 2rem;
    }

}

/*##################### fifth section ###############*/

.flex_fifth_section{
    display: flex;
    justify-content: space-between;
    margin: 0rem 4rem;
    padding-top: 4rem;
    flex-wrap: wrap;
}

.fifth_section_200{
    font-size: 2rem;
    color: #00cec9;
}
.fifth_section_400{
     font-size: 2rem;
     color: #00cec9;
}
.fifth_section_270{
    font-size: 2rem;
     color: #00cec9;
}
.fifth_section_para{
    font-size: 1.2rem;
     font-family: 'Roboto', sans-serif;;
}

@media (max-width:500px){
    
    .fifth_section_para{
        padding-bottom: 3rem;
    }
    
}

/*####################### sixth section################*/

.flex_sixth_section{
    padding-top: 5rem;
    background: #ecf0f1;
    margin-top: 6rem;
  
}
.sixth_second_card{
     background: #ecf0f1;
}
.sixth_section_heading{
    font-size: 2rem;
    text-transform: capitalize;
    text-align: center;
}
.sixth_section_border{
    border-bottom: 0.25rem solid #e67e22;
    width: 10%;
    margin-left: 45%;
}
.sixth_section_sub{
    text-align: center;
    padding-bottom: 5rem;
}
.card_section{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-bottom: 3rem;
}

.card_section_image{
    width: 24rem;
    height: 18rem;
}
.card_body{
    background: #fff;
    box-shadow: .1rem .15rem 0.2rem;
    transform: translateY(-50px);
    transition: 0.5s;
    

}
.buyer_comment{
    display: flex;
    justify-content: space-around;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 2rem 0rem;
}
._buyer{
 padding-right: 8rem;
}
.user_icon,.comment_icon{
    color: #00cec9;
}
._course{
    font-size: 1.5rem;
    padding-left: 3rem;
    padding-bottom: 2rem;
}
._course:hover{
    color: #38ada9;
    cursor: pointer;
}
.course_cost{
    color: #38ada9;
    padding: 1rem 0rem;
   
}
.card_border{
    border-bottom: 0.25rem solid #e67e22;
    width: 10%;
   
    
}

