
.container{
    height: 100vh;
    width: 100%;
    background-image: url(../../images/header_img1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: 5s;

   animation-name: animate;
   animation-direction: alternate-reverse;
   animation-duration: 30s;
   animation-fill-mode: forwards;
   animation-iteration-count: infinite;
   animation-play-state: running;
   animation-timing-function: ease-in-out;

}

@keyframes animate{
        0%{
            background-image: url(../../images/header_img2.jpg);
        }
        20%{
            background-image: url(../../images/header_img3.jpg);
        }
        40%{
            background-image: url(../../images/header_img4.jpg);
        }

}

.achieve{
    font-size: 3rem;
    color: #fff;
   
}
.accredited{
    font-size: 2rem;
    color: #fff;
}
.achieve{
    text-align: center;
    padding-top: 3rem;
}
.accredited{
    text-align: center;
    padding-top: 1rem;
}
.header_form{
    border: 1px solid #ccc;
    width: 34rem;
    padding: 0.5rem 2rem;
    background: #fff;
    margin-left: 30%;
    margin-top: 4rem;
    text-align: center;
    display: flex;
}
select{
    padding: 0.9rem 3rem;
    appearance: none;
}
input{
     padding: 0.9rem;
     margin-left: 1rem;
}
.btn{
    padding: 1rem 1.6rem;
    margin-left: 1rem;

}
.btn{
    background: #00cec9;
    text-decoration: none;
    padding-top: 0.8rem;
    color: #fff;
    border-radius: 0.2rem;
}
*:focus{outline: none;}

@media only screen and (max-width:480px){
    .achieve{
        font-size: 2rem;
    }
    .accredited{
        font-size: 1.5rem;
    }
}

@media only screen and (max-width:320px){
    .achieve{
        font-size: 1.4rem;
    }
    .accredited{
        font-size: 1rem;
    }
}

@media only screen and (max-width:375px){
    .achieve{
        font-size: 1.5rem;
    }
    .accredited{
        font-size: 1.3rem;
    }
}

.form_flex{
    
    display: flex;
    margin-top: 3rem;
    justify-content: space-around;
    flex-wrap: wrap nowrap; 
}

@media only screen and (max-width:500px){
    .form_flex{
        display: none;
    }
}


img{
    color: gray;
    height: 5rem;
    width: 5rem;
    margin-top: 2rem;  
}
.program{
    margin-bottom: 2rem;
}

.flex_section{
    display: flex;
    justify-content: space-evenly;
    background: #ecf0f1;
}